.nv-breadcrumb {
	cursor:default;
	font-size:0;
	margin:0 0 0.75rem 0;
	padding:0;
}
.nv-breadcrumb li {
	display:inline-block;
	font-weight:700;
	position:relative;
	z-index:3;
	font-size:0.75rem;
	&:not(:first-child)::before {
		@include font-awesome();
		display:inline;
		font-size:12px;
		content:"\f105";
		color:#999;
		margin-left:0.8rem;
		margin-right:0.8rem;
	}
}
.nv-breadcrumb a,
.nv-breadcrumb span {
	display:inline-block;
	line-height:1;
}
.nv-breadcrumb a {
	color:$color-primary;
}
.nv-breadcrumb a:hover {
	color:#1b4e92;
	text-decoration:none;
}
.nv-breadcrumb span {
	color:lighten($color-navy, 10%);
	font-weight:600;
}