.cash-table-container {
	background:#fff;
	border:1px solid #ccd5db;
	padding:4px;
}
.cash-table {
	width:100%;
	border-collapse:collapse;
	table-layout:auto;

	th, td {
		padding:0.4rem 0.4rem;
		border:2px solid #fff;
	}

	tr th:not(:first-child),
	tr td:not(:first-child){
		text-align:right;
	}

	tbody td {
		background:#f3f3f7;
	}

	thead th,
	tr td:first-child {
		background:#e0e3eb;
		color:#242938;
		font-weight:700;
	}

	.green {
		background:#ddeee3;
		color:#057a2c;
		font-weight:700;
	}
	.red {
		background:#f5e5e7;
		color:#c52635;
		font-weight:700;
	}
}

.cash-table-v2 {
	width:100%;
	border-collapse:collapse;
	table-layout:auto;

	th, td {
		padding:0.4rem 0.4rem;
		border:2px solid #fff;
	}

	tr th:not(:first-child),
	tr td:not(:first-child){
		text-align:right;
	}

	tbody td {
		background:#f3f3f7;
	}

	thead th, .active {
		background:#e0e3eb;
		color:#242938;
		font-weight:700;
	}

	.green {
		background:#ddeee3;
		color:#057a2c;
		font-weight:700;
	}
	.red {
		background:#f5e5e7;
		color:#c52635;
		font-weight:700;
	}
	.blue {

	}
}
