.form-group {
	margin-bottom:0.875rem;
}
.form-group-list {
	margin-bottom:-0.875rem;
}
.form-label {
	display:block;
	margin-bottom:0.125rem;
	.is-red {
		color:$color-danger;
	}
}
.form-label.required {
	&::after {
		content:"*";
		color:$color-danger;
		margin-left:0.3em;
	}
}
.form-label.has-btn {
	margin-bottom:0.75rem;
	.nv-btn {
		position:relative;
		top:1px;
		margin-left:0.4rem;
	}
}
.form-input {
	display:block;
	width:100%;
	border:1px solid #C4CDD5;
	border-radius:3px;
	padding:0.1rem 0.5rem;
	line-height:1.5;
	font-family:$font;
	font-weight:400;
	outline:none;
	color:#1f3547;
	background:#fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow:none;
	transition:box-shadow 0.15s ease;
	&:focus {
		border-color:#4f87d0;
		box-shadow:0 0 0 2px rgba(55, 119, 204, 0.2);
	}
	@media(max-width:$phablet){
		font-size:1rem;
	}
}
.form-input:not(textarea) {
	height:1.75rem;
}
textarea.form-input {
	resize:vertical;
	line-height:1.5;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}
select.form-input {
	background:#fff;
	background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat:no-repeat;
	background-position:right .25rem center;
	background-size:14px 10px;
	padding-right:1.4rem;
}
.nv-form ::-webkit-input-placeholder {
	font-weight:400;
	color:#a0a7ba;
}
.nv-form ::-moz-placeholder {
	font-weight:400;
	color:#a0a7ba;
}
.nv-form :-ms-input-placeholder {
	font-weight:400;
	color:#a0a7ba;
}
.nv-form :-moz-placeholder {
	font-weight:400;
	color:#a0a7ba;
}

/* feedback */
.help-block {
	display:block;
	margin-top:0.2rem;
	font-size:0.75rem;
	font-weight:600;
	a {
		margin-left:0.25em;
	}
}

/* states */
.form-input-success {
	border-color:darken($color-success, 6%);
}
.form-input-warning {
	border-color:darken($color-warning, 10%);
}
.form-input-danger {
	border-color:$color-danger;
}
.form-input-red {
	border-color:$color-danger;
	color:$color-danger;
}
.help-block-success {
	color:darken($color-success, 6%);
}
.help-block-warning {
	color:darken($color-warning, 10%);
}
.help-block-danger {
	color:$color-danger;
}
.help-block-info {
	font-weight:400;
	color:$color-navy;
}
.form-input:disabled,
.form-input-disabled {
	cursor:default;
	background:#e6eaf0;
	border-color:#c6d0d7;
	color:#444f55;
}
.form-input-readonly,
.form-input-readonly:focus {
	background:#e6eaf0;
	border-color:#c6d0d7;
	color:#444f55;
}
.form-input-readonly:focus {
	box-shadow:none;
}

/* input labels */
.form-group-has-label,
.form-group-has-btn {
    display:flex;
	.form-input {
		flex-grow:1;
		width:100%;
	}
	.nv-btn {
		min-width:auto;
	}
}
.form-input-label {
	display:flex;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	padding:0 0.5rem;
    border:1px solid #c4cdd5;
	background:darken(#f9fafb, 6%);
	border-radius:3px;
	&:not(:first-child){
		border-left:0;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
	}
    &:not(:last-child){
		border-right:0;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
	}
}
.form-group-has-label {
	.form-input {
		&:not(:first-child){
			border-top-left-radius:0;
			border-bottom-left-radius:0;
		}
		&:not(:last-child){
			border-top-right-radius:0;
			border-bottom-right-radius:0;
		}
	}
}
.form-group-has-btn {
	&>:not(:last-child){
		margin-right:0.5rem;
	}
}

/* checkbox / radio */
.nv-form-check {
	display:inline-block;
	position:relative;
	border-radius:5px;
	line-height:1;
	cursor:pointer;
	&:hover {
		background:#dae1ec;
	}
	&.is-disabled {
		cursor:default;
	}
	&.is-disabled:hover {
		background:none;
	}
	label {
		display:block;
		margin:0;
		padding:5px 6px 6px 1.6rem;
		cursor:inherit;
		-webkit-user-select:none;
	}
	input {
		cursor:inherit;
		width:1.1rem;
		height:1.1rem;
		position:absolute;
		left:3px;
		top:3px;
		background-color:#fff;
		background-repeat:no-repeat;
		background-position:center;
		background-size:contain;
		border:1px solid rgba(0, 0, 0, 0.25);
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	input[type=checkbox] {
		border-radius:0.25em;
	}
	input[type=radio] {
		border-radius:50%;
	}
	input:active {
		filter:brightness(90%);
	}
	input:focus {
		border-color:#86b7fe;
		outline:0;
		box-shadow:0 0 0 0.2rem rgba(102, 187, 106, 0.3);
	}
	input:checked {
		background-color:#66bb6a;
		border-color:#66bb6a;
	}
	input:checked[type=checkbox] {
		background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
	}
	input:checked[type=radio] {
		background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='1.7' fill='%23fff'/%3e%3c/svg%3e");
	}
	input:disabled {
		pointer-events:none;
		filter:none;
		opacity:0.75;
	}
	input:disabled:checked {
		background-color:#999;
		border-color:#888;
	}
	input[disabled] ~ label, input:disabled ~ label {
		opacity:0.75;
	}

	&.no-label {
		display:block;
		float:left;
		line-height:0;
		input {
			position:static;
		}
	}
}

/* form vertical */
.nv-form-row {
	margin-top:0.875rem;
	&.is-first {
		margin-top:0;
	}
	@media(min-width:$tablet){
		margin-top:0;
		display:table;
		table-layout:fixed;
		width:100%;
		> div {
			display:table-cell;
			vertical-align:top;
			padding:0.4rem 0;
		}
		.col-label {
			width:240px;
			text-align:right;
			padding:0.65rem 1rem 0 0;
		}
		.col-input {width:300px;}
		.col-offset {padding-left:240px;}
		.col-str {padding-top:0.65rem;}
		.col-size-1 {width:50px;}
		.col-size-2 {width:75px;}
		.col-size-3 {width:100px;}
		.col-size-4 {width:125px;}
		.col-size-5 {width:150px;}
		.col-size-6 {width:175px;}
		.col-size-7 {width:200px;}
		.col-size-8 {width:225px;}
		.col-size-9 {width:250px;}
		.col-size-10 {width:275px;}
	}
	.nv-form-control {
		margin:0.1rem 0.6rem 0 -4px;
	}
}
