.body-login {
	@media(min-width:$phone){
		background:#25a6d4;
	}
}
.flex-full-container {
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.login-container {
	flex-grow:1;
	max-width:400px;
	margin:2rem;
	.cw-panel {
		border:0;
		border-radius:6px;
		overflow:hidden;
	}
	@media(min-width:$phone){
		box-shadow:0 10px 20px -3px rgba(0,0,0,0.2);
	}
}
.login-logo {
	margin-bottom:2rem;
	padding-top:0.5rem;
	img {
		display:block;
		max-width:100%;
		margin:auto;
	}
}