/* main header */
.app-header {
	background:#333;
	border-radius:0.25rem;
	margin-top:20px;
	padding:1rem 2rem;
}
.app-menu {
	text-transform:uppercase;
	color:#fff;
	display:flex;
	list-style:none;
	margin:0 -0.5rem 0 0;
	padding:0;
	font-size:0.875rem;
	li:not(:first-child) {
		margin-left:0.5rem;
	}
	a {
		display:block;
		padding:1rem 0.5rem;
		color:#adadad;
		transition:color .3s ease;
		&:hover {
			color:#fff;
			transition:none;
		}
	}
}

/* section list */
.nv-section {
	margin-top:1.5rem;
	@media(min-width:$tablet){
		margin-top:2rem;
	}
}
.nv-section.is-first {
	margin-top:0;
}
.nv-section-title {
	margin-bottom:1rem;
	text-transform:uppercase;
	font-size:0.875rem;
	font-weight:600;
}

/* page title */
.nv-page-title-bar {
	height:28px;
	align-items:center;
}
.nv-page-title {
	margin-bottom:0;
	font-size:1.25rem;
	font-weight:600;
}

/* cloak */
[v-cloak] > * {
	display:none;
}
[v-cloak]::before {
	content:"carregando...";
	display:block;
	font-size:1rem;
	font-weight:600;
	color:$color-navy;
	padding:1.5rem;
	@media(min-width:$tablet){
		padding:2.5rem;
	}
}
