/* navbar */
.nv-navbar {
	display:none;
	align-items:center;
	justify-content:space-between;
	padding:0 0.5rem 0 1rem;
	background:#fff;
	height:3.5rem;
	font-size:0.875rem;
	@media(min-width:$desktop){
		display:flex;
		padding:0 1rem 0 0.5rem;
	}
}

/* estrutura */
.nv-navbar-cell {
	height:100%;
	display:flex;
	align-items:center;
}

/* titulo / nome da empresa */
.nv-navbar-title {
	font-weight:500;
	position:relative;
	top:0.03rem;
	margin-left:0.5rem;
}

/* nome do usuário */
.nv-navbar-user {
	font-weight:500;
	position:relative;
	top:0.07rem;
	margin-right:1rem;
}

/* ajustes dropdown bootstrap */
.nv-navbar .dropdown {
	height:100%;
}
.nv-navbar .dropdown-toggle {
	&::after {
		display:none;
	}
}
.nv-navbar .dropdown-toggle::after {
	vertical-align:0.08em;
}

/* navbar link */
.nv-navbar-btn {
	display:flex;
	align-items:center;
	height:100%;
	border:0;
	outline:0;
	background:transparent;
	font-weight:500;
	padding:0.1rem 1rem 0 1rem;
	position:relative;
	cursor:pointer;
	transition:background 0.1s ease;
	.badge {
		position:absolute;
		top:0.5rem;
		left:0.4rem;
	}
	&:hover,
	&:focus,
	&:active {
		outline:0;
	}
}
.nv-navbar-btn--hidden-lg {
	display:flex;
	@media(min-width:$desktop){
		display:none;
	}
}
.nv-navbar-btn--visible-lg {
	display:none;
	@media(min-width:$desktop){
		display:flex;
	}
}
.nv-navbar-item--hidden-sm {
	display:none;
	@media(min-width:$phablet){
		display:block;
	}
}
.nv-navbar-btn--toggle-sidebar {
	padding-top:2px;
	font-size:0.8125rem;
}

/* cores */
.nv-navbar-blue {
	background:linear-gradient(to right, #1581b5 0%, #1581b5 52%, #01287b 100%);
	color:#fff;
	.nv-navbar-btn {
		color:#b7c8ea;
		&:hover,
		&:focus,
		&:active {
			background:rgba(255,255,255,0.15);
		}
	}
}
.nv-navbar-white {
	background:#fff;
	color:$color-navy;
	border-bottom:1px solid #e1e6ea;
	.nv-navbar-btn {
		color:$color-navy;
		&:hover,
		&:focus,
		&:active {
			background:#ebeef4;
		}
	}
}
.nv-navbar-green {
	background-image:linear-gradient(to right, #318f94 0%, #3c8a5e 100%);
	color:#fff;
	.nv-navbar-btn {
		color:rgba(255, 255, 255, 0.8);
		&:hover,
		&:focus,
		&:active {
			color:#fff;
			background:rgba(0,0,0,0.2);
		}
	}
}
.nv-navbar-navy-blue {
	background-image:linear-gradient(60deg, #223a4f 0%, #374f62 100%);
	color:#fff;
	.nv-navbar-btn {
		color:rgba(255, 255, 255, 0.8);
		&:hover,
		&:focus,
		&:active {
			color:#fff;
			background:rgba(0,0,0,0.2);
		}
	}
}
.nv-navbar-purple {
	background-image:linear-gradient(to right, #623d9e 0%, #865dbb 100%);
	color:#fff;
	.nv-navbar-btn {
		color:rgba(255, 255, 255, 0.9);
		&:hover,
		&:focus,
		&:active {
			color:#fff;
			background:rgba(0,0,0,0.2);
		}
	}
}