.nv-autocomplete {
	position:relative;
}
.nv-autocomplete-display {
	position:relative;
	z-index:10;
}
.nv-autocomplete-display-input {
	position:relative;
	z-index:11;
	cursor:pointer;
	padding-right:2.2rem;
	&:focus {
		box-shadow:none;
	}
}
.nv-autocomplete-clear-button {
	position:absolute;
	z-index:12;
	right:0;
	top:0;
	width:1.75rem;
	height:1.75rem;
	border:0;
	border-radius:4px;
	background:none;
	font-size:1rem;
	font-weight:600;
	color:#646c71;
	text-align:center;
	&:hover {
		background:rgba(0,0,0,0.1);
	}
	&:focus {
		outline:0;
	}
	&:active {
		background:rgba(0,0,0,0.2);
	}
}
.nv-autocomplete-form-input:focus {
	box-shadow:none;
}
.nv-autocomplete-dropdown {
	border:1px solid #d5dce1;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
    background:#fff;
	margin-top:-2px;
    padding-top:4px;
    position:absolute;
	width:100%;
	top:100%;
    z-index:13;
}
.nv-autocomplete-search-input-container {
	padding:0.5rem;
}
.nv-autocomplete-results {
	padding:0 0 0.4rem 0;
	margin:0;
	max-height:120px;
	overflow-y:scroll;
	position:relative;
}
.nv-autocomplete-results li {
	list-style:none;
	cursor:pointer;
	padding:0.4rem 0.7rem 0.5rem 0.7rem;
}
.nv-autocomplete-results li:hover,
.nv-autocomplete-results li.is-active {
	background-color:$color-primary;
	color:#fff;
}
.nv-autocomplete-message {
	padding:0.2rem 0.6rem 0.75rem 0.6rem;
	color:#737d84;
}
