.nv-panel {
	background:#f5f7fa;
	margin-top:1.5rem;
	border:1px solid #ccd5db;
	@media(min-width:$tablet){
		margin-top:2rem;
	}
}
.nv-panel.is-first {
	margin-top:0;
}
.nv-panel-pad {
	padding:1rem;
	@media(min-width:$phone){
		padding:1.25rem;
	}
}
.nv-panel-section {
	border-top:1px solid #ccd5db;
}
