.sidebar-body {
	width:260px;
	height:100%;
	background:#1f3547;
	transition:transform 0.3s ease;
	transform:translateX(-320px);
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
	touch-action:manipulation;
	position:fixed;
	z-index:43;
	top:0;
	left:0;
	&.is-active {
		transform:translateX(0);
	}
}
.sidebar-body::-webkit-scrollbar {
	width:8px;
	box-shadow:0 0 5px rgba(0,0,0,0.5) inset;
}
.sidebar-body::-webkit-scrollbar-track {
	background:#45647d;
}
.sidebar-body::-webkit-scrollbar-thumb {
	background:#94BAD9;
	border-radius:10px;
}
@media(min-width:$desktop){
	.sidebar {
		width:260px;
		height:100%;
		display:grid;
		grid-template-rows:3.5rem 1fr;
		overflow:hidden;
		transition:width 0.2s ease;
	}
	.sidebar-body {
		position:static;
		transform:none;
	}
}

/* logo */
.sidebar-header {
	height:3.5rem;
	display:flex;
	align-items:center;
	justify-content:space-between;
	background:#1a2d3c;
	padding-left:1.05rem;
}
.sidebar-logo {
	width:100px;
	font-size:1.125rem;
	font-weight:400;
	font-style:italic;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color:#adc7db;
	overflow:hidden;
	transition:width 0.2s ease;
	img {
		display:block;
		width:100px;
	}
}

/* mobile menu btn */
.sidebar-menu-btn {
	color:#fff;
	height:100%;
	padding:0.5rem 1.5rem;
	border:0;
	outline:0;
	background:transparent;
	text-transform:uppercase;
	font-size:0.9375rem;
	font-weight:600;
	letter-spacing:0.05em;
	transition:background 0.15s ease;
	&:active {
		background:#3b6587;
	}
	@media(min-width:$desktop){
		display:none;
	}
}

/* sidebar footer */
.sidebar-footer {
	display:none;
	@media(min-width:$desktop){
		display:block;
		padding:0.5rem;
		background:#1a2d3c;
	}
}

/* nome da empresa mobile */
.sidebar-company-name {
	background:#1a2d3c;
	padding:0 1.5rem;
	height:3.5rem;
	display:flex;
	align-items:center;
	line-height:1;
	font-size:0.875rem;
	font-weight:600;
	font-style:italic;
	text-transform:uppercase;
	letter-spacing:0.01em;
	color:#adc7db;
	@media(min-width:$desktop){
		display:none;
	}
}

/* menu */
.menu-main {
	display:block;
	width:252px;
	background:#1f3547;
	margin:0;
	padding:1rem 0 4rem 0;
	list-style:none;
	font-weight:400;
	font-size:0.8125rem;

	li {
		display:block;
		position:relative;
	}
	a {
		text-decoration:none;
	}

	@media (min-width:$desktop){
		margin-top:1rem;
		padding-top:0;
		a {
			transition:background .3s ease, color .3s ease;
			&:hover {
				transition:none;
			}
		}
	}
}
.menu-main > li {
	margin-top:0.25rem;
	font-weight:600;
	padding:0 0.75rem;
	&:first-child {
		margin-top:0;
	}
}
.menu-main > li.divisor {
	margin:0.6rem 0;
	&::after {
		display:block;
		content:"";
		width:100%;
		height:1px;
		background:#365d7c;
	}
}
.menu-main li.item-hidden-lg {
	@media(min-width:$desktop){
		display:none;
	}
}
.menu-main__link-level-one {
	display:block;
	padding:0.6rem 0 0.6rem 0;
	color:#ced5e4;
	border-radius:4px;
	min-height:2.4rem;
	overflow:hidden;
}
.menu-main__link-level-one-row {
	display:grid;
	grid-template-columns:2.5rem 1fr 2rem;
	width:228px;
}
.menu-main__link-icon {
	display:block;
	text-align:center;
	font-size:0.8125rem;
	color:#70abdb;
	padding-top:3px;
}
.menu-main__dropdown-icon {
	position:relative;
	top:0.06em;
	opacity:0.6;
	font-size:0.75rem;
	transition:top 0.1s ease, transform 0.3s ease;
}
.menu-main__link-labels {
	text-align:right;
	padding-right:0.5rem;
	& > :not(:first-child){
		margin-left:0.4rem;
	}
}
.menu-main__submenu {
	display:none;
	margin:0;
	padding:0;
	line-height:1.25;
}
.menu-main__submenu.is-open {
	display:block;
}
.menu-main__submenu > li {
	margin-top:2px;
}
.menu-main__submenu > li > a {
	display:block;
	padding:0.5rem 0.5rem 0.6rem 2.5rem;
	color:#8c9aa6;
	border-radius:4px;
	&:hover, &.is-active {
		background:#254056;
		color:#fff;
	}
	&.is-active:before {
		display:inline-block;
		content:"\f111";
		color:$color-success;
		@include font-awesome();
		font-size:9px;
		position:absolute;
		left:1.4rem;
		top:0.75rem;
	}
	&:active {
		background:lighten(#254056, 3%);
	}
}

/* states */
.menu-main__link-level-one {
	@media(min-width:$tablet){
		&:hover {
			color:#fff;
			background:#2f4f6a;
		}
	}
	&:active {
		background:lighten(#2f4f6a, 3%);
	}
}
.menu-main > .is-active {
	& > .menu-main__link-level-one,
	& > .menu-main__link-level-one:hover {
		background:#3880bb;
		color:#fff;
	}
}
.menu-main > .is-active .menu-main__link-icon,
.menu-main > .is-open .menu-main__link-icon {
	color:#fff;
}
.menu-main .menu-main__link-level-one:hover {
	color:#ced5e4;
}
@media(min-width:$tablet){
	.menu-main .menu-main__link-level-one:hover {
		color:#fff;
	}
	.menu-main .menu-main__link-level-one:hover .menu-main__link-icon {
		color:#fff;
	}
}
.menu-main > .is-open {
	.menu-main__dropdown-icon {
		top:-0.1em;
		transform:rotate(180deg);
	}
}

.sidebar .visible-on-collapsed {
	display:none;
}
.sidebar.is-collapsed {
	.hidden-on-collapsed {
		display:none;
	}
	.visible-on-collapsed {
		display:block;
	}
}

/* sidebar recolhida - apenas desktop */
@media(min-width:$desktop){
	.sidebar.is-collapsed {
		width:64px;
		.sidebar-logo {
			width:34px;
		}
		.menu-main {
			width:64px;
		}
		.menu-main__submenu.is-open {
			display:none;
		}
	}
	.sidebar.is-collapsed-hover {
		width:260px;
		.sidebar-logo {
			width:140px;
		}
		.menu-main {
			width:252px;
		}
		.menu-main__submenu.is-open {
			display:block;
		}
	}
}

/* body overlay */
@media (max-width:991px){
	.body-overlay {
		position:fixed;
		z-index:9;
		right:-100%;
		top:0;
		width:100%;
		height:100%;
		background:#f8fafc;
		opacity:0;
		transition:opacity 0.4s ease, right 0s linear 0.15s;
	}
	.body-faded .body-overlay {
		right:0;
		opacity:0.75;
	}
}

