.nv-table {
	width:100%;
	font-size:0.8125rem;
	border:1px solid #ccd5db;
	thead {
		background:#eef1f6;
		th {
			border-top:0;
		}
	}
	th {
		background:#eef1f6;
		vertical-align:middle;
		padding:0.3rem;
		color:$color-default;
		font-weight:600;
		text-transform:uppercase;
		text-align:inherit;
		border-top:1px solid #dee4e8;
	}
	td {
		vertical-align:middle;
		padding:0.3rem;
		border-top:1px solid #dee4e8;
	}
	tr {
		th:first-child,
		td:first-child {
			padding-left:0.6rem;
		}
		th:last-child,
		td:last-child {
			padding-right:0.6rem;
		}
	}
	tbody tr {
		background:#fff;
		&:hover {
			background:#f8fafc;
		}
		&:first-child td {
			border-top:0;
		}
	}
	.collapsed {
		width:1px;
		white-space:nowrap;
	}
	.active {
		background:#f5f7fa;
		&:hover {
			background:#ebeef4;
		}
	}
	.selected {
		font-weight:700;
		color:darken($color-default, 10%);
	}
	.success {
		background:#F1FAE5;
		&:hover {
			background:#e5f6d0;
		}
	}
	.warning {
		background:#FFFAE7;
		&:hover {
			background:#fff5d1;
		}
	}
	.danger {
		color:darken($color-danger, 9%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-danger, 9%);
			&:hover {
				color:lighten($color-danger, 2%);
			}
		}
	}
	.info {
		color:darken($color-info, 7%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-info, 7%);
			&:hover {
				color:$color-info;
			}
		}
	}
	.primary {
		color:darken($color-primary, 12%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-primary, 12%);
			&:hover {
				color:darken($color-primary, 2%);
			}
		}
	}
	.default {
		color:darken($color-default, 10%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-default, 10%);
			&:hover {
				color:lighten($color-default, 2%);
			}
		}
	}
	.watermark, .watermark a {
		color:#aaaeb5;
	}
	.disabled, .disabled:hover {
		background:#f5f7fa;
		color:#8a98ab;
	}
	.subrow {
		background:#f3f3f7;
		td {
			border-color:#d8dfe4;
		}
		&.is-first td {
			border-top:0;
		}
	}
	.cell-bg-success {
		background:#afe0c9;
		color:#125d33;
	}
	.cell-bg-primary {
		background:#bcddf5;
		color:#134fa0;
	}
	.cell-bg-warning {
		background:#fff2cc;
		color:#946609;
	}
}
