.nv-tabs {
	display:block;
	margin:0 0 1.5rem 0;
	padding:0;
	border-bottom:1px solid #ccd5db;
	font-size:0;
	text-transform:uppercase;

	@media(min-width:$phone){
		border-top:0;
		border-right:0;
		border-left:0;
		margin-bottom:0;
		background:none;
	}

	li {
		display:inline-block;
		font-size:0.8125rem;
		font-weight:600;
	}
	li:not(:first-child) {
		margin-left:1.25rem;
	}
	a {
		display:block;
		color:#808c9d;
		padding:0.25rem 0.1rem 0.8rem 0.1rem;
		border-bottom:2px solid transparent;
		transition:background 0.3s ease, border 0.2s ease, color 0.2s ease;
	}
	a:hover {
		text-decoration:none;
	}
	a.is-active {
		color:$color-primary;
		border-color:$color-primary;
	}
	a:not(.is-active){
		&:hover {
			border-color:$color-primary;
			color:$color-primary;
		}
		&:active {
			background:lighten($color-primary, 25%);
		}
	}
	.tab-icon {
		margin-right:0.4rem;
	}
}