.nv-table {
	width:100%;
	font-size:0.8125rem;
	border:1px solid #ccd5db;
	thead {
		background:#eef1f6;
		th {
			border-top:0;
		}
	}
	th {
		background:#eef1f6;
		vertical-align:middle;
		padding:0.3rem;
		color:$color-default;
		font-weight:600;
		text-transform:uppercase;
		text-align:inherit;
		border-top:1px solid #dee4e8;
	}
	td {
		vertical-align:middle;
		padding:0.3rem;
		border-top:1px solid #dee4e8;
	}
	tr {
		th:first-child,
		td:first-child {
			padding-left:0.6rem;
		}
		th:last-child,
		td:last-child {
			padding-right:0.6rem;
		}
	}
	tbody tr {
		background:#fff;
		&:hover {
			background:#f8fafc;
		}
		&:first-child td {
			border-top:0;
		}
	}
	.collapsed {
		width:1px;
		white-space:nowrap;
	}
	.active {
		background:#f5f7fa;
		&:hover {
			background:#ebeef4;
		}
	}
	.selected {
		font-weight:700;
		color:darken($color-default, 10%);
	}
	.success {
		background:#F1FAE5;
		&:hover {
			background:#e5f6d0;
		}
	}
	.warning {
		background:#FFFAE7;
		&:hover {
			background:#fff5d1;
		}
	}
	.danger {
		color:darken($color-danger, 9%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-danger, 9%);
			&:hover {
				color:lighten($color-danger, 2%);
			}
		}
	}
	.info {
		color:darken($color-info, 7%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-info, 7%);
			&:hover {
				color:$color-info;
			}
		}
	}
	.primary {
		color:darken($color-primary, 12%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-primary, 12%);
			&:hover {
				color:darken($color-primary, 2%);
			}
		}
	}
	.default {
		color:darken($color-default, 10%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-default, 10%);
			&:hover {
				color:lighten($color-default, 2%);
			}
		}
	}
	.watermark, .watermark a {
		color:#aaaeb5;
	}
	.disabled, .disabled:hover {
		background:#f5f7fa;
		color:#8a98ab;
	}
	.subrow {
		background:#f3f3f7;
		td {
			border-color:#d8dfe4;
		}
		&.is-first td {
			border-top:0;
		}
	}
	.cell-bg-success {
		background:#afe0c9;
		color:#125d33;
	}
	.cell-bg-primary {
		background:#bcddf5;
		color:#134fa0;
	}
	.cell-bg-warning {
		background:#fff2cc;
		color:#946609;
	}
}
.nv-table-no-border {
	border:0;
}

.nv-table-clean {
	width:100%;
	font-size:0.8125rem;
	th {
		padding:0.2rem 0.3rem;
	}
	thead th {
		background-color:#fff;
		color:#6D8593;
	}
	tbody tr {
		color:#6D8593;
		border-top: 1px solid #cccccc;
	}
	td {
		padding:0.4rem 0.3rem;
	}
	tr {
		th:first-child,
		td:first-child {
			padding-left:0.6rem;
		}
		th:last-child,
		td:last-child {
			padding-right:0.6rem;
		}
	}
}


.nv-table-sm {
	font-size:0.68rem;
	th {
		padding:0.2rem 0.3rem;
	}
	thead th {
		background-color:#f5f7fa;
		color:#6D8593;
	}
	tbody tr {
		color:#6D8593;
		&:hover {
			background:#fff;
		}
	}
	td {
		padding:0.2rem 0.3rem;
	}
	tr {
		th:first-child,
		td:first-child {
			padding-left:0.6rem;
		}
		th:last-child,
		td:last-child {
			padding-right:0.6rem;
		}
	}
}

@media(max-width:767px){
	/* tabela responsiva:quebra de linhas */
	.nv-table-responsive-full {
		display:block;
		border:0;
		border-collapse:initial;
		overflow:auto;
		thead {
			display:none;
		}
		tbody, tr, tfoot {
			display:block;
		}
		tr {
			border:1px solid #ccd5db;
			padding:.2rem 0;
		}
		tbody tr:not(:first-child) {
			margin-top:0.5rem;
		}
		tbody td {
			display:flex;
			width:auto;
			justify-content:space-between;
			padding-left:.6rem;
			padding-right:.6rem;
			border-top:0;
			&::before {
				content:attr(data-label);
				font-weight:600;
				margin-right:2rem;
			}
		}
		tr td:first-child {
			border-top:0;
		}
		tfoot td {
			display:block;
		}
		.collapsed {
			width:auto;
			white-space:initial;
		}
	}
	
	/* ajuste tabela do modal */
	.nv-table-responsive-modal tr {
		margin:0 -1px;
	}

	/* colunas ocultas */
	.nv-table .hidden-xs-sm {
		display:none;
	}
}

/* tabela resposiva:scroll horizontal */
.nv-table-container-scroll {
	overflow-x:auto;
	min-height:0.01%;
}
@media screen and (max-width:767px){
	.nv-table-container-scroll {
		overflow-y:hidden;
		-ms-overflow-style:-ms-autohiding-scrollbar;
		-webkit-overflow-scrolling:touch;
		touch-action:manipulation;
	}
	.nv-table-container-scroll > table {
		margin-bottom:0;
	}
}

/* loading */
.nv-table.is-loading {
	&.is-loading {
		position:relative;
		tbody {
			min-height:3rem;
		}
		&::before {
			display:block;
			content:"";
			z-index:2;
			background:rgba(255,255,255,0.8);
			position:absolute;
			top:1px;
			right:1px;
			bottom:1px;
			left:1px;
		}
		&::after {
			position:absolute;
			z-index:5;
			display:block;
			text-align:center;
			padding-top:0.15rem;
			width:12rem;
			height:3rem;
			content:"carregando...";
			left:50%;
			top:50%;
			font-size:1.5rem;
			background:#FFF;
			margin-left:-6rem;
			margin-top:-1.5rem;
			border:1px solid #4da3ff;
			border-radius:10rem;	
		}
	}
	@media(max-width:767px){
		&.is-loading {
			&::after {
				top:4rem;
			}
		}
	}
}

.nv-table--v-top {
	th, td {
		vertical-align:top;
	}
}

/* table form */
.nv-table-form-container {
	margin:0 -0.6rem;
}
.nv-table-form {
	width:100%;
	td {
		padding:0 0.6rem;
		vertical-align:bottom;
	}
	.collapsed {
		width:1px;
		white-space:nowrap;
	}
}

/* horizontal */
.nv-table-form-h {
	width:100%;
	td {
		padding:0.9rem 0;
		vertical-align:top;
	}
	tbody tr:not(:first-child) td {
		border-top:1px solid #d5dde1;
	}
}
.form-label-h {
	display:block;
	font-weight:600;
	text-align:right;
	padding:0.4rem 1.5rem 0 0;
}

/* tabela com divs */
.nv-table-div {
	font-size:0.8125rem;
	border:1px solid #ccd5db;
	display:table;
	table-layout:auto;
	width:100%;
	background:#fff;
}
.nv-table-div-cell {
	display:table-cell;
	vertical-align:middle;
	padding:0.4rem 0.4rem;
	border-top:1px solid #dee4e8;
}
.nv-table-div-row {
	display:table-row;
	.nv-table-div-cell {
		padding-left:0.6rem;
	}
	.nv-table-div-cell {
		padding-right:0.6rem;
	}
}
.nv-table-div-header-row {
	background:#eef1f6;
	.nv-table-div-cell {
		vertical-align:middle;
		padding:0.4rem 0.4rem;
		color:$color-default;
		font-weight:600;
		text-transform:uppercase;
		text-align:inherit;
		border-top:0;
	}
}

/* sortable */
.nv-table {
	.sort-handle-td {
		width:40px;
		text-align:center;
	}
	.sort-handle {
		color:darken($color-light, 15%);
		cursor:move;
		padding:4px 2px;
	}
	.sortable-ghost {
		background:#bde1ff;
	}
}

.nv-table-products-container {
	border:1px solid #ccd5db;
}
.nv-table-products {
	width:100%;
	font-size:0.8125rem;
	thead {
		background:#eef1f6;
	}
	th {
		vertical-align:middle;
		padding:0.4rem 0.3rem;
		color:$color-default;
		font-weight:600;
		text-transform:uppercase;
		text-align:inherit;
	}
	td {
		vertical-align:middle;
		padding:0.4rem 0.3rem;
	}
	tr {
		th:first-child,
		td:first-child {
			padding-left:0.6rem;
		}
		th:last-child,
		td:last-child {
			padding-right:0.6rem;
		}
	}
	tbody tr.has-border td {
		border-top:1px solid #dee4e8;
	}
	.collapsed {
		width:1px;
		white-space:nowrap;
	}
	.active {
		background:#f5f7fa;
		&:hover {
			background:#ebeef4;
		}
	}
	.selected {
		font-weight:700;
		color:darken($color-default, 10%);
	}
	.success {
		background:#F1FAE5;
		&:hover {
			background:#e5f6d0;
		}
	}
	.warning {
		background:#FFFAE7;
		&:hover {
			background:#fff5d1;
		}
	}
	.danger {
		color:darken($color-danger, 9%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-danger, 9%);
			&:hover {
				color:lighten($color-danger, 2%);
			}
		}
	}
	.info {
		color:darken($color-info, 7%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-info, 7%);
			&:hover {
				color:$color-info;
			}
		}
	}
	.primary {
		color:darken($color-primary, 12%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-primary, 12%);
			&:hover {
				color:darken($color-primary, 2%);
			}
		}
	}
	.default {
		color:darken($color-default, 10%);
		a:not(.nv-btn):not(.dropdown-item) {
			color:darken($color-default, 10%);
			&:hover {
				color:lighten($color-default, 2%);
			}
		}
	}
	.watermark, .watermark a {
		color:#aaaeb5;
	}
	.visible-xs-sm {
		display:none;
	}
}
.subtable {
	width:100%;
	background:#f3f3f7;
	margin-bottom:0.2rem;
	td {
		padding:0.4rem;
		border-top:1px solid #dee4e8;
	}
	tr {
		td:first-child {
			padding-left:0.6rem;
		}
		td:last-child {
			padding-right:0.4rem;
		}
	}
	tbody tr:first-child td {
		border-top:0;
	}
}

/* display text */
.nv-table-text {
	width:100%;
	font-size:0.8125rem;
	border:0;
	td {
		vertical-align:middle;
		padding:0.6rem 0.5rem;
		border-top:1px solid #dee4e8;
	}
	&.valign-top {
		th, td {
			vertical-align:top;
		}
	}
	tr {
		th:first-child,
		td:first-child {
			padding-left:0;
		}
		th:last-child,
		td:last-child {
			padding-right:0;
		}
	}
	tbody tr {
		&:first-child td {
			border-top:0;
		}
	}
	a:not(.nv-btn){
		font-weight:600;
		color:#0074f0;
		&:hover {
			color:#3f9cff;
			text-decoration:none;
		}
	}
	.collapsed {
		width:1px;
		white-space:nowrap;
	}
	.active {
		background:#edf0f4;
	}
	.nv-form-control {
		margin-bottom:0;
	}
	.nv-form-control-indicator {
		top:3px;
	}
}